@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Capstone.Web.Models.User

<h2 class="login">Login</h2><hr />
<div>
    <div class="enter-info">
        <form name="frm1" action="@Url.Action("LoginPost", "User")" method="post">
            <div class="username-box">
                <label for="EmailAdress"> Username or E-mail Address</label>
               
                    @if (Model != null)
                    {
                        <input class="loginBox" type="text" name="EmailAddress" id="email" value="@Model.EmailAddress" placeholder="janedoe@johnsmith.com"/>
                    }
                    else
                    {
                        <input class="loginBox" type="text" name="EmailAddress" id="email" placeholder="janedoe@johnsmith.com" />
                    }

                @Html.ValidationMessageFor(m => m.EmailAddress)
            </div>
            <div class="password-box">
                <label for="Password"> Password</label>
               @if (Model != null)
               {
                <input class="loginBox" type="password" name="Password" id="password" placeholder="Password1234" value="@Model.Password"/>
               }
               else
               {
                <input class="loginBox" type="password" name="Password" id="password" placeholder="Password1234" />
               }

                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <hr />
            <div class="login-submit">
                <input class="submit" type="submit" value="Submit" />
            </div>
        </form>
    </div>
</div>