@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Capstone.Web.Models.User
<h2>Register</h2><hr />
<div>
    <div class="enter-info">
        <form name="frm1" action="@Url.Action("Register", "User")" method="post">
            <div class="username-box">
                <label for="EmailAddress">Username or E-mail Address</label>
                <input class="regBox" type="text" name="EmailAddress" id="email" placeholder="janedoe@johnsmith.com" />
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </div>
            <div class="password-box">
                <label for="Password">Password</label>
                <input class="regBox" type="password" name="Password" id="password" placeholder="Password1234" />
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="password-box">
                <label for="ConfirmedPassword">Confirm Password</label>
                <input class="regBox" type="password" name="ConfirmedPassword" id="confPassword" placeholder="Password1234" />
                @Html.ValidationMessageFor(m => m.ConfirmedPassword)
                @Html.ValidationMessage("UnconfirmedPassword")
            </div>
            <div class="phone-box">
                <label for="Phone">Phone Number</label>
                <input class="regBox" type="tel" name="Phone" id="phone" placeholder="(216) 867-5309" />
            </div>


            <hr />
            <div class="reg-submit">
                <input class="submit" type="submit" value="Submit" />
            </div>
        </form>
    </div>
</div>
