@model Capstone.Web.Models.Route

@{
    ViewBag.Title = "Edit a Route";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Route: @Model.RouteName</h2>
<hr />

<div id="right-panel">
    <h4>Waypoints List</h4>
    <hr />
    <form action="@Url.Action("UpdateRoute")" method="post">
        @{
            for (int i = 0; i < Model.Waypoints.Count; i++)
            {
                int stopNumber = i + 1;

                <div>
                    <p id="stopLabel[@i]" class="stopLabel">Stop: @stopNumber</p>
                    <input id="Waypoints[@i]" class="waypointAdder" type="text" name="Waypoints[@i]" value="@Model.Waypoints[i]" />
                    <button type="button" id="add-btn[@i]" class="add-btn">Add Stop</button>
                    <button type="button" id="rmv-btn[@i]" class="rmv-btn">Remove Stop</button>
                    <hr />
                </div>
            }
        }

        @*<b>Private Route?</b>
        <br />*@

        @*So, this is the beginning of the an edit option using radio buttons. Possibly pre-load the button with the 
        save choice from the data base.  Did not achieve full functionality yet.  But, it works on the Create page*@

        <b>This is a @Model.IsPrivate route?</b>
        <input id="PrivateGroup" type="radio" name="IsPrivate" value="True">Yes<br />
        <input id="PublicGroup" type="radio" name="IsPrivate" value="False">No<br /><hr />

        @Html.Hidden("RouteID", Model.RouteID, new { @id = "RouteID" })
        <input type="submit" id="submit">
        <!--<button class="editRouteButton">Update Route</button>-->
    </form>
</div>

<script>
    $('form').on('click', '.add-btn', function () {
        var currentStopCount = $('.waypointAdder').length;
        var stopIndex = $(this).index('.add-btn');

        for (var i = currentStopCount - 1; i > stopIndex; i--) {
            $('#stopLabel\\[' + i + '\\]').text('Stop: ' + (i + 2));
            $('#stopLabel\\[' + i + '\\]').attr("id", "stopLabel\[" + (i + 1) + "\]");
            $('#Waypoints\\[' + i + '\\]').attr("name", "Waypoints\[" + (i + 1) + "\]");
            $('#Waypoints\\[' + i + '\\]').attr("id", "Waypoints\[" + (i + 1) + "\]");
            $('#add-btn\\[' + i + '\\]').attr("id", "add-btn\[" + (i + 1) + "\]");
            $('#rmv-btn\\[' + i + '\\]').attr("id", "rmv-btn\[" + (i + 1) + "\]");
        }
        $(this).parent().after("<div><p id='stopLabel\[" + (stopIndex + 1) + "\]' class='stopLabel'>Stop: " + (stopIndex + 2) + "</p><input id='Waypoints\[" + (stopIndex + 1) + "\]' class='waypointAdder' type='text' name='Waypoints\[" + (stopIndex + 1) + "\]' placeholder='New Waypoint'/><button type='button' id='add-btn\[" + (stopIndex + 1) + "\]' class='add-btn'>Add Stop</button><button type='button' id='rmv-btn\[" + (stopIndex + 1) + "\]' class='rmv-btn'>Remove Stop</button><hr \></div>");
    });

    /*$('form').on('click', '.rmv-btn', function () { 
        var currentStopCount = $('.waypointAdder').length;
        var stopIndex = $(this).index('.rmv-btn');

        if (currentStopCount > 2) {
            $(this).prev().prev().val('');
        }
    });*/

    $('form').on('click', '.rmv-btn', function () {
         var currentStopCount = $('.waypointAdder').length;
         var stopIndex = $(this).index('.rmv-btn');

         if (currentStopCount > 2) {
             for (var i = stopIndex + 1; i < currentStopCount; i++) {
                 $('#stopLabel\\[' + i + '\\]').text('Stop: ' + (i - 1));
                 $('#stopLabel\\[' + i + '\\]').attr("id", "stopLabel\[" + (i - 1) + "\]");
                 $('#Waypoints\\[' + i + '\\]').attr("name", "Waypoints\[" + (i - 1) + "\]");
                 $('#Waypoints\\[' + i + '\\]').attr("id", "Waypoints\[" + (i - 1) + "\]");
                 $('#add-btn\\[' + i + '\\]').attr("id", "add-btn\[" + (i - 1) + "\]");
                 $('#rmv-btn\\[' + i + '\\]').attr("id", "rmv-btn\[" + (i - 1) + "\]");
             }
             $(this).parent().remove();
         }
     });
</script>
