
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div> 
        <h1>CLE OmniBus!!</h1>
        <nav>
           <ul>
               <li>
                  @Html.ActionLink("Home", "Index", "Home")
               </li>               
               <li>
                   @Html.ActionLink("Routes", "Index", "Route")
               </li>
               <li>
                   @Html.ActionLink("Login", "Index", "User")
               </li>
               <li>
                   @Html.ActionLink("Register", "Register", "User")
               </li>
           </ul>
        </nav>
    </div>
    @RenderBody()
</body>
</html>
